.nav{
    justify-content: space-around;
    width: 100%;
}   

.header {
    text-align: center;
    display: flex;
    
}
.new {
    padding-top: 10px;
}

.box1 {
    display: block;
    padding: 10px;
    margin-bottom: 30px;
    text-align: justify;
    padding-left: 40px;
}

.box2 {
    display: block;
    padding: 10px;
    text-align: justify;
}

