body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}
.outer {
  position: relative;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px #9e9e9e;
}
.container {
  position: relative;
  /* width: 100%; */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  /* gap: 1.5rem; */
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  text-align: left;
}

ul {
  padding-left: 0%;
  display: grid;
  gap: 1.5rem;
}
p {
  color: blue;
  box-shadow: 1px 0px 4px grey;
  border-radius: 10px;
  height: fit-content;
}

.chart_btdata {
  display: flex;
}

.main {
  display: flex;
  width: 100%;
  margin-left: 40px;
  justify-content: space-evenly;
}

.dataAlign {
    display: flex;
}